<header class="bg-blue-500 text-white p-4 w-full fixed top-0">
    <div class="container flex justify-between items-center">
      <a routerLink="/" class="text-xl font-bold">Sound</a>
      <nav class="flex w-48 items-center justify-around">
        <a routerLink="">Home</a>
        <a routerLink="/login" *ngIf="authService.isAuthenticated()==false">Login</a>
        <a routerLink="/register" *ngIf="authService.isAuthenticated()==false">Register</a>
        <a routerLink="/library" *ngIf="authService.isAuthenticated()==true">Library</a>
        <a class="cursor-pointer" (click)="logout()" *ngIf="authService.isAuthenticated()==true" >Logout</a>
      </nav>
    </div>
  </header>
